:root {
  --main-color: #0b2b44;
  --second-color: #082337;
  --third-color: #2d9499;
  --number-color: white;
  --background-color: white;
}

.light-theme {
  --main-color: #eceff4;
  --second-color: #dbe2ec;
  --third-color: #2d9499;
  --number-color: #898a8c;
}

body {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 5vh;
  border-radius: 5rem 5rem 0 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--background-color);
}

.calculator {
  background-color: var(--main-color);
  border-radius: 1rem;
  max-width: 32rem;
  min-width: none;
}

.screen {
  min-width: 25rem;
  height: 20rem;
  background-color: var(--second-color);
  border-bottom: solid 0.5px gray;
  font-size: 60px;
  text-align: right;
  vertical-align: middle;
  line-height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  color: var(--number-color);
  border-radius: 1rem 1rem 0 0;
}

.rows {
  display: grid;
}

.row {
  display: flex;
  flex-direction: row;
}

.special-row {
  display: flex;
}

.btn {
  width: 5rem;
  height: 5rem;
  place-items: center;
  background-color: var(--main-color);
  line-height: 100px;
  text-align: center;
  vertical-align: middle;
  color: var(--number-color);
  font-size: x-large;
  cursor: pointer;
  border-radius: 10px;
  margin: 10px;
}

.act-btn {
  color: white;
  background-color: var(--main-color);
  color: var(--third-color);
}

.btn-e {
  background-color: var(--third-color);
  color: white;
}

#history {
  border: 2px solid gray;
  padding: 0px 1rem 0 1rem;
  min-height: 10rem;
  margin-top: 0.5rem;
}

#btn-color {
  max-height: 10rem;
  margin-left: 2rem;
}

#history-cleaner {
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
}

.finalResult {
  color: var(--third-color);
  font-size: 20px;
}

@media (max-width: 980px) {
  body {
    flex-direction: column;
    max-width: 25rem;
    align-items: center;
    width: 100vw;
    margin-left: 20vw;
  }

  #history {
    margin-top: 2rem;
  }

  #btn-color {
    margin-top: 2rem;
  }

  #history-cleaner {
    margin-top: 0.5rem;
  }
}
